{% extends "base.html.twig" %} {% block body %}

<div
  class="max-w-[80vw] min-h-[60vh] mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <img
    class="rounded-t-lg w-full"
    src="{{ asset('uploads/' ~ post.image) }}"
    alt=""
  />
  <div class="p-5">
    <a href="#">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-words"
      >
        {{ post.title }}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 break-words">
      {{ post.content }}
    </p>

    <!-- Affichage des tags et catégories -->
    <div class="flex flex-wrap mb-3">
      {% for tag in post.tags %}
      <span
        class="bg-gray-200 text-gray-800 rounded-full px-2 py-1 text-xs mr-2 mb-2"
      >
        #{{ tag.name }}
      </span>
      {% else %}
      <span class="text-gray-500 text-xs">No tags</span>
      {% endfor %}
    </div>
    <div class="flex items-center justify-between">
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ post.createdAt|date('d/m/Y H:i') }}
      </p>
      {% if post.category %}
      <p
        class="badge {{ categorieColors[post.category.name]|default('bg-blue-500') }} text-white rounded-full px-2 py-1 text-xs"
      >
        {{ post.category.name }}
      </p>
      {% endif %}
    </div>
    <a
      href="{{ path('app_post') }}"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Revenir aux posts
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>
</div>

{% endblock %}
